@font-face {
    font-family: 'Big Noodle';
    src: url('../fonts/BIG_NOODLE_TITLING.TTF');
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    text-align: center;
    font-family: 'Big Noodle';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#home {
    background-image: url('../img/Fdo\ web.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
    margin-top: -3rem;
}

.texto {
    position: absolute;
    top: 75vh;
    letter-spacing: 3px;
}
h1 {
    color: #192549;
}
h2 {
    color: #00b3e8;
}

@media(min-width: 768px) {
    #home {
        background-position-y: bottom;
    }
    .texto {
        top: 80vh;
    }
}

