header {
    height: 50vh;
    background-image: url("../img/background-header.png");
    background-position: center;
    background-size: cover;
    position: relative;
    .header-gradiente {
        height: 50vh;
        background: rgb(255, 255, 255);
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.7) 30%, rgba(0, 212, 255, 0) 100%);
    }
    .header-texto {
        padding: 1rem;
        position: absolute;
        width: 100%;
        top: 0;
        margin-top: 35%;
        display: flex;
        flex-direction: column;
        h1 {
            font-family: $nunito;
            font-weight: 800;
            color: $azul;
        }
        small {
            letter-spacing: 5px;
        }
        button {
            width: 130px;
            background-color: $celeste;
            color: $azul;
            font-weight: 800;
            border: 0;
            padding: 5px 10px;
            border-radius: 15px;
            box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.22);
        }
    }
}
@media (min-width: 768px) {
    header {
        .header-texto {
            padding: 1rem 4rem;
        }
    }
}
@media (min-width: 1200px) {
    header {
        height: 100vh;
        .header-gradiente {
            height: 100vh;
        }
        .header-texto {
            padding: 1rem 5rem;
            top: 0;
            margin-top: 300px;
            h1 {
                font-size: 4rem;
            }
            small {
                letter-spacing: 14px;
                font-size: 18px;
                padding: 15px 6px;
                font-weight: bold;
            }
            button {
                width: 160px;
                padding: 8px 15px;
                border-radius: 15px;
                font-size: 15px;
                transition: all 0.15s ease;
                &:hover {
                    background-color: $azul;
                    a {
                        color: #fff;
                    }
                }
            }
        }
    }
}
@media (min-width: 1400px) {
    header {
        .header-texto {
            padding: 1rem 5rem;
            top: 0;
            margin-top: 400px;
            h1 {
                font-size: 5rem;
            }
            small {
                letter-spacing: 18px;
                font-size: 22px;
                padding: 18px 6px;
                font-weight: bold;
            }
            button {
                width: 190px;
                padding: 12px 18px;
                border-radius: 15px;
                font-size: 18px;
                transition: all 0.15s ease;
                &:hover {
                    background-color: $azul;
                    a {
                        color: #fff;
                    }
                }
            }
        }
    }
} ;
