#nosotros {
    background-color: $celeste;
    padding: 4rem 1rem;
    .nosotros-texto {
        padding: 2rem 0;
    }
}
@media (min-width: 768px) {
}
@media (min-width: 1200px) {
    #nosotros {
        display: flex;
        justify-content: center;
        padding: 4rem 1rem;
        img {
            padding: 4rem;
            width: 45% !important;
        }
        .nosotros-texto {
            width: 50%;
            padding: 2rem;
        }
    }
}
@media (min-width: 1400px) {
    #nosotros {
        img {
            padding: 4rem;
            width: 30% !important;
        }
        .nosotros-texto {
            width: 50%;
            padding: 3rem;
            p {
                font-size: 1.2rem;
            }
        }
    }
} ;
