#recuerdos {
    padding: 4rem 1rem;
    background: $dorado;
    h2 {
        text-align: center;
        color: $azul;
        font-size: 2rem;
        padding-bottom: 3rem;
    }
}
@media (min-width: 768px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
} ;
