@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap");

$azul: #192549;
$celeste: #61b1e5;
$dorado: #a09d77;
$nunito: "Nunito", sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
  font-family: $nunito;
}
body {
  font-weight: 400;
}

ul {
  list-style-type: none;
}
a {
  color: black;
  text-decoration: none;
}
input:focus {
  outline: 0;
}
textarea:focus {
  outline: 0;
}
label {
  display: flex;
  flex-direction: column;
}
.w-25 {
  width: 25% !important;
}
.w-50 {
  width: 50% !important;
}
.w-75 {
  width: 75% !important;
}
.w-100 {
  width: 100% !important;
}
.pt-4 {
  padding: 2rem 0 0 0 !important;
}
.py-4 {
  padding: 2rem 0 !important;
}
.py-5 {
  padding: 3rem 0 !important;
}
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-dark {
  color: #000 !important;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
p {
  margin-bottom: 10px;
}
iframe {
  width: 100%;
}
